<div class="full-width-container">
    <table class="three-column-table">
        <tr>
            <td class="left-align">
                <a href="/" id="nolinks">
                    <div class="layout-image logo-image"></div>
                </a>
            </td>
            <td class="left-align">
                <div class="layout-image2 logo-text-image"></div>
            </td>
            <td class="right-align">
                <div class="login">
                    {% if current_user.is_authenticated %}
                        <b {% if current_user.admin %} style="color: red;" {% endif %}>{{ current_user.username }}</b>
                        <a href="/private_messages" class="private-messages-link">Private Messages</a>
                        <a class="logoutlink" href="/action_logout">(logout)</a>
                        <div class="dark-mode-container">
                            <span>Dark Mode</span>
                            <label class="switch">
                                <input type="checkbox" id="theme-toggle" {% if current_user.theme %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    {% else %}
                        <a href="/loginform">Click here to login or register!</a>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
</div>