<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link id="theme-style" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style0.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <title>{{ config.SITE_NAME }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        var isDarkMode = $('body').data('theme') === 'dark';
        $('#theme-toggle').prop('checked', isDarkMode);
        var baseUrl = '{{ url_for("static", filename="") }}';
        var themeFile = isDarkMode ? 'styledark.css' : 'style0.css';
        $('#theme-style').attr('href', baseUrl + themeFile);

        $('#theme-toggle').change(function() {
            var isDarkMode = this.checked;
            $.post("{{ url_for('routes.update_theme') }}", { theme: isDarkMode }, function() {
                var themeFile = isDarkMode ? 'styledark.css' : 'style0.css';
                $('#theme-style').attr('href', baseUrl + themeFile);
            });
        });

        var isSpanish = $('#language-toggle').prop('checked');
        $('#language-toggle').change(function() {
            var isSpanish = this.checked;
            $.ajax({
                url: "{{ url_for('routes.toggle_language') }}",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ language: isSpanish }),
                success: function(response) {
                    if (!response.success) {
                        alert('Error: ' + response.message);
                    }
                }
            });
        });

    });
    </script>
</head>
<body data-theme="{{ 'dark' if current_user.theme else 'light' }}">
<div class="page">
    <div class="header">
        {% include 'header.html' %}
    </div>
    {% if errors %}
    <div class="errors">
        {% for error in errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="content">
        {% block body %}{% endblock %}
    </div>
</div>

<footer class="footer">
    <p>&copy; 2024 COPYRIGHT. All rights reserved.</p>
    <p>
        <a href="/about-us">About Us</a> |
        <a href="/privacy-policy">Privacy Policy</a> |
        <a href="/terms-of-service">Terms of Service</a> |
        <a href="/contact-us">Contact Us</a>
    </p>
    <p>
        Follow us on:
        <a href="https://www.facebook.com/QTTP" target="_blank">Facebook</a> |
        <a href="https://www.twitter.com/QTTP" target="_blank">Twitter</a> |
        <a href="https://www.instagram.com/QTTP" target="_blank">Instagram</a>
    </p>
</footer>

</body>
</html>